.temtem-portrait {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.temtem-portrait.temtem-portrait-background {
  background: url(../../assets/images/temtem-portrait-background.png) no-repeat 100% / 100%;
}
.temtem-portrait:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background: url(../../assets/images/temtem-portrait-border.png) no-repeat top left;
  background-size: 100%;
  position: absolute;
  z-index: 2;
}
.temtem-portrait:hover {
  background: url(../../assets/images/temtem-portrait-background-selected.png) no-repeat 100% / 100%;
}
.temtem-card {
  background-color: transparent !important;
  border: none !important;
}
.temtem-card-header {
  margin-bottom: 10px !important;
}