.dropdown-types {
  border: 1px solid #cccccc !important;
  display: inline-block;
}

.dropdown-types .dropdown-toggle {
  width: 200px;
  text-align: left;
}

.dropdown-types .dropdown-toggle::after {
  float: right;
  margin-top: 10px;
}